{% load static %}
{% load main_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/styles.css' %}"/>
    {%block title%}
    <title>
        {% if title %}
        {{title}}
        {% else %}
        "karadesh site"
        {% endif %}
    </title>
    {%endblock title%}
</head>
<body>
{% block logo %}
<a href="{% url 'home' %}">Главная</a>
{% endblock logo %}
{% block menu %}
{% show_menu %}
{% endblock menu %}
{%block content%}
{%endblock content%}
</body>
</html>